fastapi
uvicorn
pydantic
pydantic[email]
pydantic_settings
websockets
sqlalchemy 
psycopg2-binary
passlib[bcrypt] 
python-jose[cryptography]
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client 
pytest
pytest-mock
pytest-asyncio
httpx
jinja2
python-multipart
alembic